.loginmodal-container {
  padding: 10px;
   font-size: 14px!important;
  
  background-color: #F7F7F7;
 
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;

}
 
.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  width: 100%;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 12px 5px;
  font-family: roboto;
  font-size: 14px;
  border-radius: 2px;
  margin: 1em;
}
.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
 

.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title{
  text-align: center;
}

.mat-card {
    padding: 40px 30px!important;
    margin: 10px 0px;
}
