<!-- <md-dialog>
  <md-dialog-title>Dialog</md-dialog-title>
  <md-dialog-content>What would you like to do?</md-dialog-content>
  <md-dialog-actions>
    <md-button md-dialog-close="cancel" (click)="emitValue(null)" color="primary" >Cancel</md-button>
    <md-raised-button color="primary" md-dialog-close="ok" (click)="emitValue(value)" >OK</md-raised-button >
  </md-dialog-actions>
</md-dialog> -->

<md-dialog-title>
  <h2>¿Cúanto?</h2>
</md-dialog-title>
<md-dialog-content>
  <md-input-container>
  <input  mdInput [(ngModel)]="food.amount" placeholder="cantidad" >{{food.unit}}
  </md-input-container>
</md-dialog-content>
 
<md-dialog-actions class="right">
  <button md-button   md-dialog-close color="primary">Cancelar</button>
  <button md-button  (click)="saveAmount()" md-dialog-close="true" color="primary">Guardar</button>
</md-dialog-actions>
