<md-card>
  <md-card-content>
    <md-list>
      <md-list-item >
       
        <span md-line class="md-font">{{food.name}}</span>
       
        <span md-line class="md-font" >Numero de raciones  </span>
        <section layout-align="end" layout-wrap>
          <span class="md-font" (click)="openDialog(food)">  {{food.amount}}</span>
        </section>
       
        <span md-line class="md-font">Tamaño unidad  </span>
        <section layout-align="end" layout-wrap>
          <md-select placeholder="grs">
            <md-option *ngFor="let unit of units" [value]="unit">{{ unit }}</md-option>
          </md-select>
        </section>

        <div md-line>
          <div class="container">
            <span class="macros md-font">{{food.calories}}</span>
            <span class="macros md-font">{{food.macros.hc}}</span>
            <span class="macros md-font">{{food.fat}}</span>
            <span class="macros md-font">{{food.protein}}</span>

          </div>
        </div>
        <div md-line>
          <div class="container">
            <span class="macros md-font">Calorias</span>
            <span class="macros md-font">Carbohidratos</span>
            <span class="macros md-font">Grasas</span>
            <span class="macros md-font">Proteina</span>

          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

