.title {
  font-size: 14px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.list-item {
  width: 100%
}

.list-item button .material-icons {
  font-size: 16px
}

.list-item {
  border-bottom: 1px solid #CCC;
}

.list-item:hover button {
  margin: 7px 5px;
  display: inline;
}

.list-item button {
  display: none
}

.list-item /deep/ .md-checkbox-label {
  margin: 10px 0;
}

.completed {
  color: #9d9d9d;
  text-decoration: line-through
}

.fab-add {
  position: absolute;
  right: 30px;
  top: 50px;
}

.example-margin {
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: row;
 
}

.macros {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-basis: 25%; 
  justify-content: center;
   
  
}
.progress {
   position: absolute;
  top: 0.5em;
  right: 0;
  bottom: 0;
  left: 0;
}
.fat {
  display: flex;
  color: #e20000;
  text-align: center;
}

.protein {
  display: flex;
  color: #2147ed;
  text-align: center;
}

.hc {
  display: flex;
  color: #ed6321;
  text-align: center;
   
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;      
  align-items: center;     /* center items vertically, in this case */
   padding-top: 0.5em;
  padding-left: 0.4em;
  
}
 

 
.mat-list, .mat-nav-list {
    
    padding-bottom: 4em;
 
}
  .big-font {
    font-size: 16px!important;
     
}
  .md-font {
    font-size: 12px!important;
     
}
  span.macros.big-font{
    text-align: center;
  }