 
<md-card class="todoapp">
  <md-toolbar color="primary">
    Añadir alimento
    <button md-fab class="fab-add" (click)="addFood()">
      <md-icon>ok</md-icon>
    </button>
  </md-toolbar>
 <md-card-content *ngIf="todoList">

        <div class="list-item">
          <md-checkbox color="primary" type="checkbox"  >
            <span [class.completed]="todo.completed">{{food.name}}</span>
          </md-checkbox>
          <span [class.completed]="todo.completed">{{food.name}}</span>
          <span>
            <button md-mini-fab (click)="remove(index)" color="primary">
              <md-icon>delete_forever</md-icon>
            </button>

            <button md-mini-fab (click)="todoDialog(todo)" color="primary"
                    [disabled]="todo.completed">
              <md-icon>mode_edit</md-icon>
            </button>
          </span>
        </div>
 
  </md-card-content>
</md-card>

<p> name: {{ food.name }}</p>
<p> description: {{ food.description }}</p>
<p> amount: {{ food.amount }}</p>
<p> unit: {{ food.unit }}</p>
<div class="calories">
  calories: {{ food.calories }}
  <div class="macros">
    <div class="table-responsive-vertical">
      <table id="table" class="table table-hover table-mc-light-blue">
        <tr>
            <td data-title="hc">Carbos</td>
            <td data-title="fat">Fat</td>
            <td data-title="protein">Protein</td>
        </tr>
        <tr>
            <td data-title="hc">{{food.macros.hc}}</td>
            <td data-title="fat">{{food.macros.fat }}</td>
            <td data-title="protein"> {{ food.macros.protein }}</td>
        </tr>
      </table>
    </div>
 
  </div>
</div>
 

<app-dialog [title]="'New Task'" [template]="'Enter Task:'" [placeholder]="'Cantidad?'" [okText]="okButtonText"
  [value]="fieldValue" (valueEmitted)="updateTodo($event)" [showPrompt]="showDialog">
</app-dialog>
