
<md-toolbar color="primary">
  <img src="/assets/icon.png" style="width: 1.5em;"/>

  <md-toolbar-column *ngIf="isLoggedIn">
     <button  md-icon-button  md-button [mdMenuTriggerFor]="appMenu">
      <md-icon class="icon">reorder</md-icon>
    </button>
    
  </md-toolbar-column>

  <md-toolbar-column class="flex-reverse">
    <button  *ngIf="activaCancelBotton"   class="element-flex"  md-icon-button  md-button  (click)=goBack()>
       <md-icon class="icon">clear</md-icon>
    </button>
    <button  *ngIf="activaSaveBotton"   class="element-flex"  md-icon-button  md-button  (click)=goHome()>
       <md-icon class="icon">done</md-icon>
    </button>
  </md-toolbar-column>  
   
</md-toolbar>

<md-menu #appMenu="mdMenu">
 
  <button md-menu-item routerLink="profile">
     <md-icon class="big-font">account_box</md-icon>Perfil
  </button>
 
  <button md-menu-item (click)="doLogout()">
     <md-icon class="big-font" >launch</md-icon>Salir
  </button>
  
</md-menu>
 
<router-outlet  >



</router-outlet>
 