<md-card class="loginmodal-container">

  <md-card-title class="login-title">
    Sign Up
  </md-card-title>
  <md-card-content class="login-container">
    <md-input [(ngModel)]="user.mail" placeholder="mail" type="email"></md-input>
    <md-input [(ngModel)]="user.password" placeholder="password" type="password"></md-input>
    <md-input [(ngModel)]="user.confirm" placeholder="confirm" type="password"></md-input>
    <span id="err"><small>{{error.message}}</small></span>
    <md-button class="signup primary" (click)="createUserByMail(user)">Sign Up</md-button>
    <md-slide-toggle class="slide" color="warm"><small>Remember me!</small></md-slide-toggle>
  </md-card-content>
   
</md-card>
