<md-list>
  <md-list-item>
    <span class="md-font" md-line> Nombre  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{user.name}}</span>
    </section>
  </md-list-item>
  
  <md-list-item>
    <span class="md-font" md-line> Fecha nacimiento  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{user.birthday}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Altura  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{user.height}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Peso  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{user.weight}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Pais  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{user.country}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Codigo Postal  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{user.postalCode}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Email  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{user.email}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Unidades  </span>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Peso  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{units.weight}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Distancia  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{units.distance}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Energia  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{units.Energy}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Agua  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{units.water}}</span>
    </section>
  </md-list-item>

  <md-list-item>
    <span class="md-font" md-line> Objetivos  </span>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Peso Inicial  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{goals.initialWeight}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Peso Actual  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{goals.currentWeight}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Peso Deseado  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{goals.desireWeight}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Meta Semanal  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{goals.weeklyGoal}}</span>
    </section>
  </md-list-item>
  <md-list-item>
    <span class="md-font" md-line> Nivel de Actividad  </span>
    <section layout-align="end" layout-wrap>
      <span class="md-font">  {{goals.activityLevel}}</span>
    </section>
  </md-list-item>

</md-list>
