<md-card-title class="icon-title">
  <img class="logo" src="/assets/icon.png" width="120" />
</md-card-title>
<md-card class="card-home">


  <md-card class="card-menu" routerLink="daily">
    <md-card-title class="login-title">Diario</md-card-title>
    <md-card-content>
      <md-icon class="menu-icon">today</md-icon>
    </md-card-content>
  </md-card>
  <md-card class="card-menu" routerLink="profile">
    <md-card-title class="login-title">Profile</md-card-title>
    <md-card-content>
      <md-icon class="menu-icon">account_box</md-icon>
    </md-card-content>
  </md-card>
  <md-card class="card-menu" routerLink="food-list">
    <md-card-title class="login-title">Alimentos</md-card-title>
    <md-card-content>
      <md-icon class="menu-icon">schedule</md-icon>
    </md-card-content>
  </md-card>
  <md-card class="card-menu" routerLink="progress">
    <md-card-title class="login-title">Progreso</md-card-title>
    <md-card-content>
        <md-icon class="menu-icon">insert_chart</md-icon>
    </md-card-content>
  </md-card>
</md-card>
