
<md-card class="top-card">
  <md-icon class="logout" (click)="doLogout()">exit_to_app</md-icon>
  <h1 class="icon-title">BigFood</h1>

</md-card>

<md-card class="card-home">

        <md-icon class="menu-icon" id="daily" routerLink="daily" mdTooltip="Diario"></md-icon>
        <md-icon class="menu-icon" id="profile" routerLink="profile" mdTooltip="Perfil"></md-icon>
        <md-icon class="menu-icon" id="foods" routerLink="food-list" mdTooltip="Alimentos"></md-icon>
        <md-icon class="menu-icon" id="progress" routerLink="progress" mdTooltip="Progreso"></md-icon>
        <md-icon class="menu-icon" id="exercise" routerLink="exercise" mdTooltip="Ejercicio"></md-icon>
        <md-icon class="menu-icon" id="water" routerLink="water" mdTooltip="Agua"></md-icon>
</md-card>
