@media (max-width: 600px){
.mat-card {
    padding: 10px;
}
}
.top-card{
  background-color: #022E63;
  color: white;
}
.card-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

 
#daily {
    width: 177px;
    height: 177px;
    background: url("/assets/activity-icons-md.png") -5px -194px;
}

#foods {
    width: 177px;
    height: 177px;
    background: url("/assets/activity-icons-md.png") -5px 1px;
}

#progress {
    width: 177px;
    height: 177px;
    background: url("/assets/activity-icons-md.png") -209px 0px;
}
#profile {
    width: 177px;
    height: 177px;
    background: url("/assets/activity-icons-md.png") -5px -389px;
}
#exercise {
    width: 177px;
    height: 177px;
    background: url("/assets/activity-icons-md.png") -411px -389px;
}
#water {
  width: 177px;
  height: 177px;
  background: url("/assets/activity-icons-md.png") -210px -194px;
}



.menu-icon {
  align-items: center;
  margin:auto;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #B6B5B5;
}

.login-title {
  text-align: center;
  color: #021F3F;
}

.icon-title {
  text-align: center;
  color: white;
  margin: 0.5em;
}

.logout {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  font-size: 32px;
}

.logout:hover,
.menu-icon:hover {
  cursor: pointer;
}
