
<md-card class="top-card">
  <md-icon class="logout" (click)="doLogout()">exit_to_app</md-icon>
  <h1 class="icon-title">BigFood</h1>

</md-card>

<md-card class="card-home">
        <md-icon class="menu-icon" id="daily" routerLink="daily" ></md-icon>
        <md-icon class="menu-icon" id="profile" routerLink="profile" ></md-icon>
        <md-icon class="menu-icon" id="foods" routerLink="food-list" ></md-icon>
        <md-icon class="menu-icon" id="progress" routerLink="progress"></md-icon>
        <md-icon class="menu-icon" id="exercise" routerLink="exercise"></md-icon>
        <md-icon class="menu-icon" id="water" routerLink="water"></md-icon>
</md-card>
