.card-home{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #FFFFFF;
  
}
.card-menu{
   
   flex-basis: 35%;
   text-align: center;
   margin: 0.5em;
   background-color: #1166C7;
}

.menu-icon{
  color: #FFFFFF;
  align-self: center;
  width: 90%;
  height: 90%;
  font-size: 90px;
  
}
.login-title {
  text-align: center;
  color: #FFFFFF;
}
.icon-title {
  text-align: center;
  color: #FFFFFF;
  margin: 0.5em;
}
 


 
  